@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.table-data {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    border-bottom: 3px #48535c solid;
}

.table-header th {
    color: #48535c;
    font-weight: 100;
    font-family: 'Source Sans Pro';
    letter-spacing: 2px;
}

.table-header th.label {
    font-size: 18pt;
}

.table-header th:first-child {
    text-align: left;
}

.table-header th:last-child {
    text-align: left;
}

.table-rows {
    border-bottom: 1px solid #48535c;
}

.table-rows .details {
    display: flex;
    align-items: center;
}

.table-rows .details .name {
    max-width: 90%;
}

.table-rows .details .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

.table-rows .label {
    font-size: 17pt;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    opacity: 0.85;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro';
}

.table-rows .details .name .sublabel {
    font-size: 11pt;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #48535c;
    opacity: 0.85;
    font-family: 'Source Sans Pro';
    margin: 0;
    text-transform: capitalize;
}

.table-rows td {
    text-align: center;
}

.table-rows td:first-child,  .table-rows td:last-child {
    text-align: left;
}

.table-rows .details .icon {
    height: 25px;
    width: 25px;
    margin-left: 0;
    margin-right: 15px;
}

/** Styles for mobile **/

@media (max-width: 735px) {
    .table-header {
        display: none;
    }

    .table-data {
        border-top: 1px solid #48535c;
    }
    .table-rows {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    .table-rows .label {
        max-width: 250px;
    }
}